.header-actions {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 24px;
  align-items: center;
}
.header-actions__tel {
  text-align: center;
  white-space: nowrap;
  &:hover {
    span {
      text-decoration: underline;
    }
  }
  @media (min-width: $width-tablet-h) {
    text-align: left;
  }
  @media (min-width: $width-desktop) {
    margin-right: 92px;
  }
}
.header-actions__menu {
}
.header-actions-menu {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.header-actions__cart-link {
  font-weight: 500;
  font-size: 0.86rem;
  line-height: 1rem;
  border-radius: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  &.not-empty {
    background-color: $primary-color;
  }
}
